.post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  min-height: 100vh;
  padding-bottom: 64px;
}

.post__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.post__form__section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(214, 213, 213);
  flex-direction: column;
  background-color: white;
  width: 80vw;
  padding: 32px;
  gap: 16px;
  font-size: 20px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.file-upload {
  display: none;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #eff2f7;
  color: var(--primary-color);
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  border: 2px dashed var(--primary-color);
  transition: background-color 0.3s;
}

.file-upload-label:hover {
  background-color: #dde1e7;
}

.file-upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  min-height: 200px;
  border: 2px dashed var(--primary-color);
  box-sizing: border-box;
  height: 80%;
  width: 90%;
}

.input {
  padding: 8px;
  min-width: 80px;
}

.error {
  color: red;
  font-size: 14px;
}

.error-input {
  border: 1px solid red;
}
